**1. Grocery Store Bill Calculator
A grocery store wants a program to calculate the total bill for a customer**

 **a.** Store the prices of items in a dictionary (e.g., {'apple': 10, 'milk': 50})

In [76]:
groceries={'Apple':10,'Milk':50,'Orange':20,'Sweets':5,"Carrot":45,"Egg":100,"Chocolate":250}
print("Available groceries:",groceries)

Available groceries: {'Apple': 10, 'Milk': 50, 'Orange': 20, 'Sweets': 5, 'Carrot': 45, 'Egg': 100, 'Chocolate': 250}

**b**. Take the items purchased and their quantities as input.

In [78]:
items = {}
total_bill = 0
num = int(input("\nEnter the number to purchase: "))
for i in range(num):
    item_purchased = input("Enter the item name: ").capitalize()
    quantities = int(input("Enter the quantity : "))
    if item_purchased in groceries:
        total_price = groceries[item_purchased] * quantities
        total_bill += total_price
        if item_purchased in items:
            items[item_purchased] += quantities
        else:
            items[item_purchased] = quantities
    else:
        print(f"{item_purchased} is not available.")
print("\nPurchased Items:")
for item, quantity in items.items():
    print(f"{item}: {quantity}")

Enter the number to purchase: 4
Enter the item name: Egg
Enter the quantity : 20
Enter the item name: Tomato
Enter the quantity : 50
Tomato is not available.
Enter the item name: Chocolate
Enter the quantity : 2
Enter the item name: Apple
Enter the quantity : 10

Purchased Items:
Egg: 20
Chocolate: 2
Apple: 10

**c**. Calculate and display the total bill amount.

In [79]:
print("\nTotal Bill Amount:", total_bill)

Total Bill Amount: 2600

**2. Student Grade Calculator
A teacher wants a program to calculate grades for students based on their marks.**

**a.** Store marks for 5 subjects in a list.

In [60]:
list_marks=[]
for i in range(1,6):
  mark=float(input("Enter the mark: "))
  list_marks.append(mark)
print(list_marks)

Enter the mark: 85.6
Enter the mark: 98.4
Enter the mark: 33.3
Enter the mark: 58
Enter the mark: 78.6
[85.6, 98.4, 33.3, 58.0, 78.6]

**b.** Calculate the average and determine the grade:
* 90+ -> A
* 70-89 -> B
* 50-69 -> C
* <50 -> F

In [61]:
total_mark=sum(list_marks)
average=total_mark/5
if average>=90:
  grade="A"
elif average>=70 and average<=89:
  grade="B"
elif average>=50 and average<=69:
  grade="C"
else:
  grade="D"

**c.** Display the average and the grade.

In [62]:
print(f"\nTotal Marks: {total_mark}")
print(f"Average Marks: {average}")
print(f"Grade: {grade}")

Total Marks: 353.9
Average Marks: 70.78
Grade: B

**3. A movie theatre wants to automate ticket booking for customers.**

**a.** Use a list to store the available seats (e.g., [1, 2, 3, ..., 20]).

In [72]:
availableSeats=[]
for i in range(1,21):
  availableSeats.append(i)
print(availableSeats)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

**b.** Allow the customer to book a seat by entering the seat number.

In [73]:
seat_number=int(input("Enter the seat number: "))

Enter the seat number: 20

**c.** After booking, remove the seat from the list of available seats.

In [74]:
if seat_number in availableSeats:
  availableSeats.remove(seat_number)
  print(f"Seat {seat_number} has been successfully booked.")
else:
    print(f"seat {seat_number} is not available.")

Seat 20 has been successfully booked.

**d.**Display the remaining available seats.

In [75]:
print(f"Remaining seats: {availableSeats}")

Remaining seats: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]